:root {
    --Color01:#b74f35;
    --Color02:#FFB81C;
    --Color03:#FFE767;
    --Color04:#F7F6F3;
    --Color05:#0E345E;
    --Type: helvetica, Arial, sans-serif;
}

* {
    display:block;
    width: auto;
    height: auto;
    font-family: var(--Type);
}

header {
    list-style:inside;
    list-style-position: inside;
    font-size: 10px;
    float: left;
    padding: 5px;
}

section {
    position:relative;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--Color03);
    display: right;
    grid-template-columns: auto;
    color:var(--Color01);
    font-size: 15px;
}

h1 {
    position: relative;
    font-size: 300%;
    margin-left: 10px;
}
h2 {

    background-color: var(--Color05);
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-bottom: 10px;
    border-color: var(--Color01);
    
}
h2:hover {
    background-color: var(--Color02);
}

p {
    max-width: 25%;
    line-height: 25px;
    font-size: 20px;
}

body {
    padding: 10px;
    margin: 50px;
    font-family: var(--Type);
    font-size: 18px;
    line-height: 100%;
    color: var(--Color04);
    background:var(--Color01);
  }
}
.abt {
    border: 4px var(--Color05);
    float: after;
    width: 15%;
    column-count: 1;
    background: var(--Color02);
    padding: 50px;
    margin: 10px;
    height: 970px;
}

#bckdimg {
margin-left: 250px;
column-span: 4;
padding:100px;
border:250px;
background-color:var(--Color05);
}
#AboutMeLink {
    scroll-behavior: smooth;
<a href="#About Me">Click here to see the content below. </a>
}
/*  body { 
    grid-column: auto;
    grid-area: auto;
} */