:root {
    --color01: #6A414A;
    --color02: #AA9377;
    --color03: #f7f6EE;
    --color04: #e5DeD6;
}

.groups{
    width: 72%;
    background-color: var(--color02);;
}

.linkCard {
    width:25%;
    height:10%;
    background-color: var(--color02);
    text-align: center;
}

.projectTwo {
    width:25%;
    height:10%;
    background-color: var(--color02);
    text-align: center;
}