:root {
    --color01: #6A414A;
    --color02: #AA9377;
    --color03: #f7f6EE;
    --color04: #e5DeD6;
}
* {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    /* margin-right: 1%; */
}
 
a {
    color: rgb(69, 69, 69);
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: var(--color01);
}

Header {
    text-align: center;
    background-color: #AA9377;
    border-radius: 10px;
}

aside {
    background-color: #AA9377;
    padding: 1fr;
}
aside p {
    color: var(--color04);
    display: flex;
    justify-content: center;
    color: rgb(69, 69, 69);
}
